
<title>一级菜单测试</title>

<style>
  /* 这段样式只是用于演示 */

</style>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">zzzzzzzzzzzzzzzz</div>
        <div class="layui-card-body">
          这是一个权限测试页面
        </div>
      </div>
    </div>
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">xxxxxxxxxx</div>
        <div class="layui-card-body">
          这是一个权限测试页面
        </div>
      </div>
    </div>
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">fffffffffff</div>
        <div class="layui-card-body">
          这是一个权限测试页面
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin'], function(){
    var $ = layui.$
      ,admin = layui.admin
      ,element = layui.element
      ,router = layui.router();


  });
</script>