<title>复杂表格测试</title>

<style>
 /* table {
    border-collapse: collapse
  }

  td, th {
    border: 1px solid #ccc;
    padding: 5px 10px
  }*/
</style>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">测试静态复杂表格（仅合并行）</div>
        <div class="layui-card-body">
          <table id="table1" lay-filter="demo1" class="layui-table">
            <thead class="layui-table-header">
            <tr>
              <th lay-data="{field:'username',fixed:'left',width:180}">用户名</th>
              <th lay-data="{field:'usernumber', width:80, sort:true}">用电户号</th>
              <th lay-data="{field:'countpoint'}">计量点</th>
            </tr>
            </thead>
            <tbody class="layui-table-body">
            <tr>
              <td rowspan="5">用户名称</td>
              <td rowspan="2">用电户号1</td>
              <td>计量点1</td>
            </tr>
            <tr>
              <td>计量点2</td>
            </tr>
            <tr>
              <td rowspan="3">用电户号2</td>
              <td>计量点3</td>
            </tr>
            <tr>
              <td>计量点4</td>
            </tr>
            <tr>
              <td>计量点5</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">测试动态复杂表格（仅并行）</div>
        <div class="layui-card-body">
          <table id="table2" lay-filter="demo2" lay-skin="" class="layui-table"></table>
        </div>
      </div>
    </div>

    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">测试静态复杂表格（合并行、列）</div>
        <div class="layui-card-body">
          <table id="table3" lay-filter="demo3" lay-skin="" class="layui-table">
            <thead class="layui-table-header">
            <tr>
              <th lay-data="{field:'username',fixed:'left',width:180}">用户名</th>
              <th lay-data="{field:'usernumber', width:80, sort:true}" colspan="2">用电户号</th>
              <th lay-data="{field:'countpoint'}">计量点</th>
            </tr>
            </thead>
            <tbody class="layui-table-body">
            <tr>
              <td rowspan="5">用户名称</td>
              <td rowspan="2" colspan="2">用电户号1</td>
              <td>计量点1</td>
            </tr>
            <tr>
              <td>计量点2</td>
            </tr>
            <tr>
              <td rowspan="3">用电户号2</td>
              <td rowspan="3">用电户号3</td>
              <td>计量点3</td>
            </tr>
            <tr>
              <td>计量点4</td>
            </tr>
            <tr>
              <td>计量点5</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'table'], function () {
    var $ = layui.$
      , admin = layui.admin
      , table = layui.table
      , router = layui.router();

    // colnums 合并列数组 例[1,2]; 判断所传入参数对应列中数据是否相同，如果相同则合并，不相同即便传入了参数也不合并
    function  MergeRow(colnums) {
      if (colnums.length === 0) {
        return;
      } else {
        for (var i = 0; i < colnums.length; i++) {
          // 选中每一行的第n个单元格，有几行就有几个单元格，因此tableObj是一个jq对象数组[$td, $td, $td]
          var tableObj = $(".layui-table-body tbody tr td:nth-child(" + colnums[i] + ")");
          var firstTd = "",
            curTd = "",
            spanNum = 0;
          tableObj.each(function (i) {
            // i是当前索引值
            if (i === 0) {
              // 如果是第0个，则设置firstTd为当前td
              firstTd = $(this);
              spanNum = 1;
            } else {
              // 如果不是第0个，则设置curTd为当前td
              curTd = $(this);
              // 如果不是第0个，则设置curTd为当前td
              if (firstTd.text() === curTd.text()) {
                spanNum++;
                curTd.hide();
                firstTd.attr("rowSpan", spanNum);
              } else {
                firstTd = $(this);
                spanNum = 1;
              }
            }
          });
        }
      }
    }

    // rows 合并列数组 例[1,2]; 判断所传入参数对应列中数据是否相同，如果相同则合并，不相同即便传入了参数也不合并
    function  MergeClo(rows) {
      if (rows.length === 0) {
        return;
      } else {
        for (var i = 0; i < rows.length; i++) {
          // 选中传入行的第n个单元格，有几行就有几个单元格，因此tableObj是一个jq对象数组[$td, $td, $td]
          var tableObj = $(".layui-table-body tbody tr td:nth-child(" + colnums[i] + ")");
          var firstTd = "",
            curTd = "",
            spanNum = 0;
          tableObj.each(function (i) {
            // i是当前索引值
            if (i === 0) {
              // 如果是第0个，则设置firstTd为当前td
              firstTd = $(this);
              spanNum = 1;
            } else {
              // 如果不是第0个，则设置curTd为当前td
              curTd = $(this);
              // 如果不是第0个，则设置curTd为当前td
              if (firstTd.text() === curTd.text()) {
                spanNum++;
                curTd.hide();
                firstTd.attr("rowSpan", spanNum);
              } else {
                firstTd = $(this);
                spanNum = 1;
              }
            }
          });
        }
      }
    }

    // 转换静态表格
    /*table.init('demo1', {
      // height: 315 //设置高度
      //支持所有基础参数
    });*/

    // 动态表格合并行
    table.render({
      elem: '#table2'
      , url: 'https://www.easy-mock.com/mock/5af45f8ab45afc56560ae781/admin/testTableRowspan'
      , method: 'post'
      , height: 300
      , limit: 100000
      , width: 800
      , size: 'sm'
      , even: false // 关闭隔行背景
      , page: false
      , cols: [[
        {field: 'username', title: 'userName'}
        , {field: 'usernumber', title: 'userNumber'}
        , {field: 'countpoint', title: 'countPoint'}
      ]]
      , done:function () {
        // 执行合并第1,2列中的数据相同项所在行（如果数据不相同则不合并）
        MergeRow([1,2])
      }
    });

    /*$.fn.rowspan = function (combined) {
      return this.each(function () {
        var that;
        $('tr', this).each(function (row) {
          $('td:eq(' + combined + ')', this).filter(':visible').each(function (col) {
            if (that != null && $(this).html() == $(that).html()) {
              rowspan = $(that).attr("rowSpan");
              if (rowspan == undefined) {
                $(that).attr("rowSpan", 1);
                rowspan = $(that).attr("rowSpan");
              }
              rowspan = Number(rowspan) + 1;
              $(that).attr("rowSpan", rowspan);
              $(this).hide();
            } else {
              that = this;
            }
          });
        });
      });
    };

    $("#table").rowspan(2) // 传入的参数是对应的列数从0开始 第一列合并相同*/

  });
</script>