<title>资源管理</title>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header operate-box">
          <!--操作按钮组-->
          <div class="layui-btn-group">
            <button data-type="add" class="layui-btn layui-btn-sm">
              新增
            </button>
            <button data-type="edit" class="layui-btn layui-btn-normal layui-btn-sm">
              编辑
            </button>
            <button data-type="del" class="layui-btn layui-btn-danger layui-btn-sm">
              删除
            </button>
          </div>
          <!--搜索查询-->
          <div class="test-table-reload-btn layui-layout-right" style="right: 15px">
            名称搜索：
            <div class="layui-inline">
              <input class="layui-input h30" name="id" id="searchInput" autocomplete="off">
            </div>
            <button class="layui-btn layui-btn-sm" data-type="search">搜索</button>
          </div>
        </div>
        <div class="layui-card-body">
          <table class="layui-hide" id="resourceTable" lay-filter="resourceTable"></table>
          <!--这里的 checked 是根据每条数据的lock字段判断是否选中 -->
          <script type="text/html" id="resource-checkboxTpl">
            <input type="checkbox" name="lock" lay-skin="switch" lay-text="开启|锁定" title="锁定" lay-filter="resource-lock"
                   value="{{d.id}}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" {{ d.lock== 1
                   ? 'checked' : '' }}>
          </script>
          <!--父级资源对象参数的解析显示-->
          <script type="text/html" id="resource-parentTpl">
            {{ d.parent.name }}
          </script>
          <!--资源类型对象参数的解析显示-->
          <script type="text/html" id="resource-typeTpl">
            {{ d.type.name }}
          </script>
          <!--资源类型对象参数的解析显示-->
          <script type="text/html" id="resource-iconTpl">
            <i class='{{ d.iconCls }}'></i>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'table', 'form', 'view', 'treeselect'], function () {
    var table = layui.table
      , form = layui.form
      , $ = layui.$
      , admin = layui.admin
      , treeselect = layui.treeselect
      , view = layui.view;

    // 设置表单默认值
    function setFormVals(filter, dataObj) {
      form.val(filter, dataObj);
    }

    // 表格
    table.render({
      elem: '#resourceTable'
      , url: admin.baseUrl + '/resource'
      // , url: admin.baseUrl + '/timeOut'
      , method: 'post'
      , selectOnClick: true
      , height: admin.getRightAvailableHeight() - 63
      // , where: {token: '', id: ''}
      // ,cellMinWidth: 80
      // ,size: 'sm'
      , cols: [[
        {type: 'numbers',title:'--', fixed:'left'}
        //,{type: 'radio',title:'选择', width:48,fixed:'left'}
        , {type: 'checkbox'}
        //,{field:'id', title:'ID', width:100, unresize: true, sort: true}
        , {field: 'name', title: '资源名称'}
        , {field: 'type', title: '资源类型', templet: '#resource-typeTpl', width: 90}
        , {field: 'url', title: '资源地址', minWidth: 120}
        , {field: 'mark', title: '权限签名'}
        , {field: 'addMark', title: '附加标记'}
        , {field: 'iconCls', title: '图标', width: 60, align: "center", templet: '#resource-iconTpl'}
        , {field: 'desc', title: '描述'}
        , {field: 'level', title: '层级', width: 68, align: "center", sort: true}
        , {field: 'parent', title: '父级', templet: '#resource-parentTpl'}
        , {field: 'lock', title: '开启', templet: '#resource-checkboxTpl', unresize: true, width: 95, align: 'center'}
      ]]
      , page: true
      , done: function (i, t) {
        if (i.status === 'fail') {
          admin.logOut(i.time,i.msg)
        }
      }
      // , rowClick: function (obj) {
      //   console.log(obj)
      // }
    });

    // 监听锁定操作
    form.on('switch(resource-lock)', function (obj) {
      var json = JSON.parse(decodeURIComponent($(this).data('json')));
      layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);

      json = table.clearCacheKey(json);
    });

    // layer
    var layerActive = {
      add: function () {
        admin.popup.addLayer = admin.popup({
          "title": "资源新增&nbsp;/&nbsp;编辑"
          , area: admin.screen() < 2 ? ['100%', '565px'] : ['620px', '565px']
          , id: 'resourceAdd'//id唯一
          , success: function () {
            view(this.id).render('system/resource/resource-layer').done(function (html) {
              // 初始化树形下拉组件
              treeselect.render({
                elem: "#parent",
                skin: "green",
                //可以是treedata，也可以是 获取treedata的URL地址
                data: admin.baseUrl + "/resourceTree",
                //click:function (i,v) {console.log(i,v)},
                method: "post"
              });
              if ($('button[lay-filter=resource-undo]').length) {
                $('button[lay-filter=resource-undo]').off('click').prop('type', 'reset').text('重置表单').trigger('click')
              }
            });
          }
        });
      }
      , edit: function () {
        if (checkActive.getCheckLength() > 1) {
          layer.msg('不可一次性编辑多条数据哦', {icon: 2})
        } else if (!checkActive.getCheckLength()) {
          layer.msg('请先选中一条数据', {icon: 2})
        } else {
          admin.popup.editLayer = admin.popup({
            "title": "资源新增&nbsp;/&nbsp;编辑"
            , area: admin.screen() < 2 ? ['100%', '565px'] : ['620px', '565px']
            , id: 'resourceAdd'//id唯一
            , success: function () {
              // 自定义了一个参数对象传递给view.render()方法，在其渲染完之后执行回调函数
              view(this.id).render('system/resource/resource-layer').done(function (html) {
                // console.log(html)
                // layui2.3可以调用form.val()方法对表单赋值
                var checkedRowDataObj = checkActive.getCheckData()[0];
                form.val("resource-form", checkedRowDataObj)
                form.val("resource-form", {"check[lock]": checkedRowDataObj.lock == 0 ? false : true});
                // 初始化树形下拉组件
                treeselect.render({
                  elem: "#parent",
                  skin: "green",
                  //可以是treedata，也可以是 获取treedata的URL地址
                  data: admin.baseUrl + "/resourceTree",
                  //click:function (i,v) {console.log(i,v)},
                  method: "post"
                });
                // 绑定恢复操作按钮事件
                if ($('button[lay-filter=resource-undo]').length) {
                  $('button[lay-filter=resource-undo]').off('click').prop('type', 'button').text('恢复操作').on('click', function () {
                    setFormVals("resource-form", checkedRowDataObj);
                    setFormVals("resource-form", {"check[lock]": checkedRowDataObj.lock == 0 ? false : true});
                    setFormVals("resource-form", {"type": 1});
                    setFormVals("resource-form", {"parent": checkedRowDataObj.parent.name});
                    layer.msg('已恢复至最近保存数据');
                  });
                }
                ;
                // 打开即设置默认值
                setFormVals("resource-form", checkedRowDataObj);
                setFormVals("resource-form", {"check[lock]": checkedRowDataObj.lock == 0 ? false : true});
                // 实际生产中只要传入的value与表单中select下option对应的value
                // form.val("resource-form", {"type": checkedRowDataObj.type.value});
                // form.val("resource-form", {"parent": checkedRowDataObj.parent.value});
                // 此处为测试示例
                form.val("resource-form", {"type": 1});
                form.val("resource-form", {"parent": checkedRowDataObj.parent.name});
                /*treeselect.render({filter:'parent'});
                form.render();*/

                /*
                // layui2.3以下自己手动赋值
                // 获取请求页面结构的外层jq对象
                var $layerInnerIdBox = $('#resourceAdd');
                // 定义用于存放每行数据的键名称数组（请求页面中的表单内input，select等的name值和此键一一对应）
                var layerInnerFormItemsNames = [];
                // 获取选中的行的数据对象（未转成string的object结构）
                var checkedRowDataObj = checkActive.getCheckData()[0];
                // 遍历选中行的数据对象结构，取出其键名称，并依次存入layerInnerFormItemsNames数组中
                for (var i in checkedRowDataObj) {
                  layerInnerFormItemsNames.push(i);
                }
                // console.log(layerInnerFormItemsNames)
                // 遍历layerInnerFormItemsNames数组，将checkedRowDataObj中的数据一一填入请求的页面中
                for (var j = 0; j < layerInnerFormItemsNames.length; j++) {
                  var $currentInput = $layerInnerIdBox.find(':input[name=' + layerInnerFormItemsNames[j] + ']');
                  if ($currentInput.length) $currentInput.val(checkedRowDataObj[layerInnerFormItemsNames[j]]);
                }
                // 模拟select选中某项的效果，实际开发中应该根据传入的id，选择对应的select的option项，并设置如下
                $layerInnerIdBox.find('select').eq(1).children().eq(1).prop('selected', true);
                */
              });
            }
          });
        }
      }
      , del: function () {
        if (checkActive.getCheckLength() > 0) {
          var confirmLayerIdx = admin.popup({
            content: '是否确认删除已选择的' + checkActive.getCheckLength() + '条数据？'
            , btn: ['确认', '取消']
            , skin: 'layui-layer-admin'
            , btnAlign: 'c'
            , yes: function (index, layero) {
              layer.close(confirmLayerIdx);
              $.ajax({
                type: 'post',
                url: admin.baseUrl + '/resource',
                data: JSON.stringify(checkActive.getCheckData()),
                dataType: 'json',
                beforeSend: function () {
                  this.loading = admin.loading();
                },
                complete: function () {
                  layer.close(this.loading);
                },
                success: function (result) {
                  if (result.code == 0) {
                    table.reload('resourceTable', {
                      data: result.data,
                      where: {} // 请求额外参数（注意：这里面的参数可任意定义）
                    });
                  }
                },
                error: function (error) {
                  layer.msg('请求出错啦', {icon: 2});
                },
              });
            }
            , btn2: function (index, layero) {
            }
            , cancel: function () {
            }
          });
        } else {
          layer.msg('请选则需要删除的数据项', {icon: 2})
        }
      }
    };

    // 检查选中
    var checkActive = {
      getCheckData: function () { //获取选中数据
        var checkStatus = table.checkStatus('resourceTable')
          , data = checkStatus.data;
        // layer.alert(JSON.stringify(data));
        // return JSON.stringify(data);
        return data;
      }
      , getCheckLength: function () { //获取选中数目
        var checkStatus = table.checkStatus('resourceTable')
          , data = checkStatus.data;
        // layer.msg('选中了：'+ data.length + ' 个');
        return data.length;
      }
      , isAll: function () { //验证是否全选
        var checkStatus = table.checkStatus('resourceTable');
        layer.msg(checkStatus.isAll ? '全选' : '未全选')
      }
    };

    // 搜索重载表格
    var searchActive = {
      search: function () {
        var $serIpt = $('#searchInput');
        var $serBtn = $('#searchBtn');
        //执行重载
        table.reload('resourceTable', {
          page: {
            curr: 1
          }
          , where: {
            key: {
              name: $serIpt.val()
            }
          }
        });
      }
    };

    $('.operate-box .layui-btn').on('click', function () {
      var type = $(this).data('type');
      // 弹窗
      layerActive[type] && layerActive[type].call(this);
      // 搜索
      searchActive[type] && searchActive[type].call(this);
    });
  });
</script>