<title>表单组合</title>
<style>
  /*重置treeselect下拉的文字颜色为系统自带颜色，而不是admin样式中设置的橘黄色*/
  .layui-layer-admin .layui-layer-content cite{color: inherit}
</style>

<div class="">
  <form class="layui-form layui-form-pane" lay-filter="resource-form">
    <!--名称-->
    <div class="layui-form-item">
      <label class="layui-form-label">资源名称</label>
      <div class="layui-input-block">
        <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入资源名称"
               class="layui-input">
      </div>
    </div>
    <!--地址-->
    <div class="layui-form-item">
      <label class="layui-form-label">资源地址</label>
      <div class="layui-input-block">
        <input type="text" name="url" lay-verify="required" placeholder="请输入资源地址" autocomplete="off"
               class="layui-input">
      </div>
    </div>
    <!--父级-->
    <div class="layui-form-item">
      <label class="layui-form-label">父级资源</label>
      <div class="layui-input-block">
        <!--<select name="parent" lay-search="" lay-verify="required">
          <option value="">请选择所属父级</option>
          <optgroup label="系统资源">
            <option value="0">系统设置</option>
            <option value="1">资源管理</option>
            <option value="2">权限管理</option>
          </optgroup>
          <optgroup label="业务资源">
            <option value="3">业务管理</option>
            <option value="4">业务流程</option>
            <option value="5">商务流程</option>
            <option value="6">业务审批</option>
            <option value="7">业务转手</option>
            <option value="8">业务告知</option>
          </optgroup>
        </select>-->
        <input type="text" id="parent" name="parent" lay-filter="parent" lay-verify="required" placeholder="模块" autocomplete="off" class="layui-input">
      </div>
    </div>
    <!--类型-->
    <div class="layui-form-item">
      <label class="layui-form-label">资源类型</label>
      <div class="layui-input-block">
        <select name="type" lay-filter="type">
          <option value="">请选择资源类型</option>
          <option value="0">Page</option>
          <option value="1">Ajax</option>
          <option value="2">ExtView</option>
          <option value="3">Url</option>
        </select>
      </div>
    </div>
    <!--图标、锁定-->
    <div class="layui-form-item layui-row layui-col-space20">
      <div class="layui-col-xs6">
        <label class="layui-form-label">图标类名</label>
        <div class="layui-input-block">
          <input type="text" name="iconCls" lay-verify="required" placeholder="请输入资源地址" autocomplete="off"
                 class="layui-input">
        </div>
      </div>
      <div class="layui-col-xs6">
        <label class="layui-form-label">是否锁定</label>
        <div class="layui-input-block">
          <input type="checkbox" name="lock" title="锁定" lay-skin="" lay-filter="resource-lock-edit"
                 lay-text="ON|OFF" value="{{d.id}}">
        </div>
      </div>
    </div>
    <!--描述-->
    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">资源描述</label>
      <div class="layui-input-block">
        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item mb0">
      <div class="layui-footer">
        <button type="button" class="layui-btn fr" lay-submit="" lay-filter="resource-smt">立即提交</button>
        <button type="button" class="layui-btn layui-btn-primary fl ml0" lay-filter="resource-undo">撤销操作</button>
      </div>
    </div>
  </form>
</div>

<script>
  layui.use(['admin', 'form', 'table','treeselect'], function () {
    var $ = layui.$
      , admin = layui.admin
      , element = layui.element
      , layer = layui.layer
      , table = layui.table
      , treeselect = layui.treeselect
      , form = layui.form;

    // 清空
    form.render(null, 'resource-form');

    // 自定义验证规则
    form.verify({
      title: function (value) {
        if (value.length < 2) {
          return '标题至少得2个字符啊';
        }
      }
      , pass: [/(.+){6,12}$/, '密码必须6到12位']
      , content: function (value) {
        layedit.sync(editIndex);
      }
    });

    // 监听指定开关
    form.on('switch(resource-lock-edit)', function (data) {
      console.log('cuck')
      layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
        offset: '6px'
      });
      layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
    });

    // 监听提交
    form.on('submit(resource-smt)', function (data) {
      /*layer.alert(JSON.stringify(data.field), {
        title: '最终的提交信息'
      });*/
      $.ajax({
        type: 'post',
        url: admin.baseUrl + '/resource',
        data: data.field,
        dataType: 'json',
        beforeSend: function () {
          this.loading = admin.loading();
        },
        complete: function () {
          layer.close(this.loading);
        },
        success: function (result) {
          if(result.code == 0){
            table.reload('resourceTable', {
              data: result.data,
              where: {} // 请求额外参数（注意：这里面的参数可任意定义）
            });
          }
        },
        error: function (error) {
          layer.msg('请求出错啦', {icon: 2});
        },
      });
      if(admin.popup.addLayer) layer.close(admin.popup.addLayer);
      if(admin.popup.editLayer) layer.close(admin.popup.editLayer);
      return false;
    });
  });
</script>