<title>分类栏目</title>
<style>
</style>

<div class="">
  <form class="layui-form layui-form-pane" lay-filter="editForm">
    <!--id-->
    <input type="hidden" name="id">
    <!--栏目名称-->
    <div class="layui-form-item">
      <label class="layui-form-label">文章标题</label>
      <div class="layui-input-block">
        <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入栏目名称"
               class="layui-input">
      </div>
    </div>
    <!--所属商户、排序、锁定-->
    <div class="layui-form-item layui-row layui-col-space20" style="margin-bottom: 5px">
      <div class="layui-col-xs4">
        <label class="layui-form-label layui-tip-label">所属商户</label>
        <div class="layui-input-block">
          <select name="crmMerchant" lay-filter="sex">
            <option value="">--请选择所属商户--</option>
            <option value="1">商户一</option>
            <option value="2">商户二</option>
            <option value="3">商户三</option>
          </select>
        </div>
      </div>
      <div class="layui-col-xs4">
        <label class="layui-form-label layui-tip-label">权值排序</label>
        <div class="layui-input-block">
          <input type="number" name="sort" lay-verify="required" placeholder="请输入权值排序" autocomplete="off"
                 class="layui-input">
        </div>
      </div>
      <div class="layui-col-xs4">
        <label class="layui-form-label layui-tip-label">禁用栏目</label>
        <div class="layui-input-block b-e6">
          <input type="checkbox" name="disabled" lay-skin="switch" lay-text="禁用|不禁用" title="锁定" lay-filter="disabled">
        </div>
      </div>
    </div>
    <!--描述信息-->
    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">文章摘要</label>
      <div class="layui-input-block">
        <textarea name="summary" placeholder="请输入文章主题摘要" class="layui-textarea"></textarea>
      </div>
    </div>
    <!--详情-->
    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">消息编辑</label>
      <div class="layui-input-block">
        <textarea id="detail" name="detail" placeholder="请输入文章内容" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item mb0">
      <div class="layui-footer">
        <button type="button" class="layui-btn fr" lay-submit="" lay-filter="form-smt">立即提交</button>
        <button type="button" class="layui-btn layui-btn-primary fl ml0" lay-filter="form-undo">撤销操作</button>
      </div>
    </div>
  </form>
</div>

<script>
  layui.use(['admin', 'form'], function () {
    var $ = layui.$
            , form = layui.form;
    // 重新渲染表单所有控件
    form.render(null, 'editForm');
  });
</script>