
<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>当前版本：营养餐管理系统 {{ layui.admin.v }}</p>
    <p>基于框架：layui-v{{ layui.v }}</p>
  </script>
  <!--<div class="layui-btn-container">
    <a href="http://www.layui.com/admin/" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>
    <a href="http://fly.layui.com/download/layuiAdmin/" target="_blank" class="layui-btn">下载新版</a>
  </div>-->
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">
  
  <blockquote class="layui-elem-quote tj" style="border: none;">
    "营养餐管理系统" 受国家计算机软件著作权保护，如需开通使用权限，请联系官方工作人员。
    <p>咨询热线：<a href="javascript:;"><i>400-6666666</i></a></p>
  </blockquote>
  <p class="tc"><a href="javascript:;">贵州万创宏达科技有限责任公司</a></p>
  <p class="tc">© 2018 版权所有</p>
</div>