@charset "utf-8";

a{
    text-decoration: none!important;
}
/*最小宽度*/
.minw-30{
    min-width: 30px;
}
.minw-50{
  min-width: 50px;
}
.minw-100{
  min-width: 100px;
}
.minw-150{
    min-width: 150px;
}
.minw-200{
    min-width: 200px;
}
.minw-250{
    min-width: 250px;
}
.minw-300{
    min-width: 300px;
}
/*最大宽度*/
.maxw-200{
    max-width: 200px;
}
.maxw-250{
    max-width: 250px;
}
.maxw-300{
    max-width: 300px;
}
/*dataTable*/
.dataTables_wrapper{
    position: relative;
}
.showCount{
    position: absolute;
    bottom: -53px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.showSearch{
    display: table;
    float: right;
    padding-bottom: 15px!important;
    overflow: hidden;
}
.leftSearch{
    position: absolute;
    left: 0;
    top: -62px;
}
/*dataTable--end*/

/*搜索组件*/
.search_form{
    display:table;float: left;position: relative;z-index: 1;
}

label{cursor: pointer;}
.f-normal{font-weight: normal!important;}
.check{float: left;margin-right: 15px}
.checkboxBg{cursor: pointer;display: inline-block;margin:-5px 2px;width: 19px;height: 19px;background: url(../../static/h-ui/images/iCheck/blue.png) -19px 0}
.checkedBg{background-position: -40px 0}
.label, .badge{
    position: relative;
    top: -2px;
}
.bg-primary{
    background-color: #5a98de!important;
}
.bg-danger,bg-red{
    background-color: #dd514c!important;
}
.bg-green{
    background-color: #06b36b!important;
}
.p-0{
    padding: 0!important;
}
.mlr-0{
    margin-left: 0!important;
    margin-right: 0!important;
}
.border-0{
    border: 0!important;
}
.w100{
    width: 100% !important;
}
.c{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.tx-l{
    width: 100px;
    height: 100px;
}
th, td {
    /*white-space: nowrap!important;*/
    text-align: center !important;
}
.table th, .table td{
    line-height: 18px!important;
}
.bg-1 th{
    border-left: 0!important;
    background-color: #fff4bd !important;
}
.bg-1 th:first-child{
    border-left: 1px solid #ddd!important;
    background-color: #fff4bd !important;
}
.dataTables_length{
    margin-top: 9px;
    margin-left: 12px;
}
/*表格标题*/
.tit{
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    overflow: hidden;
}
.source-panle {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0 5px;
    color: #fff;
    margin: 5px;
}
