
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="layui-row layui-col-space15">
        <!--系统数据-->
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header">系统录入数据</div>
            <div class="layui-card-body">
              <div class="layui-carousel layadmin-carousel layadmin-backlog">
                <div carousel-item>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>接入学校</h3>
                        <p><cite>108</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>配送公司</h3>
                        <p><cite>12</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>划分片区</h3>
                        <p><cite>33</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>食材种类</h3>
                        <p><cite>29</cite></p>
                      </a>
                    </li>
                  </ul>
<!--
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>待审友情链接</h3>
                        <p><cite style="color: #FF5722;">5</cite></p>
                      </a>
                    </li>
                  </ul>
-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--实时数据-->
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header">实时数据总览</div>
            <div class="layui-card-body">
              <div class="layui-carousel layadmin-carousel layadmin-backlog">
                <div carousel-item>
                  <ul class="layui-row layui-col-space10">
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>待审订单</h3>
                        <p><cite>8</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>今日总出库</h3>
                        <p><cite>12121.32</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>今日总入库</h3>
                        <p><cite>13234.55</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>今日总库存</h3>
                        <p><cite>342211.22</cite></p>
                      </a>
                    </li>
                  </ul>
                  <!--
                                    <ul class="layui-row layui-col-space10">
                                      <li class="layui-col-xs6">
                                        <a lay-href="" class="layadmin-backlog-body">
                                          <h3>待审友情链接</h3>
                                          <p><cite style="color: #FF5722;">5</cite></p>
                                        </a>
                                      </li>
                                    </ul>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--数据可视化-->
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">可视化分析</div>
            <div class="layui-card-body fullh1 overh">
              <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                <div carousel-item id="LAY-index-dataview">
                  <div class="tc"><i class="layui-icon layui-icon-loading-1 layui-anim layui-anim-rotate layui-anim-loop layadmin-loading"></i></div>
                  <!--<div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>-->
                  <!--<div></div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">实时对比分析</div>
        <div class="layui-card-body layadmin-takerates">
          <div class="layui-progress" lay-showPercent="yes">
            <h3>出库（日同比 5.89% <span class="layui-edge layui-edge-top" lay-tips="增长" lay-offset="-10" style="border-bottom-color: #5fb878;"></span>）</h3>
            <div class="layui-progress-bar" lay-percent="5.89%"></div>
          </div>
          <div class="layui-progress" lay-showPercent="yes">
            <h3>入库（日同比 2.22% <span class="layui-edge layui-edge-bottom" lay-tips="下降" lay-offset="-10" style="border-top-color: #ff5722;"></span>）</h3>
            <div class="layui-progress-bar layui-bg-red" lay-percent="2.22%"></div>
          </div>
          <div class="layui-progress" lay-showPercent="yes">
            <h3>库存（日同比 3.67% <span class="layui-edge layui-edge-bottom" lay-tips="下降" lay-offset="-10" style="border-top-color: #ff5722;"></span>）</h3>
            <div class="layui-progress-bar layui-bg-red" lay-percent="3.67%"></div>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-tab layui-tab-brief layadmin-latestData">
          <ul class="layui-tab-title">
            <li class="layui-this">学校总库存</li>
            <!--<li></li>-->
          </ul>
          <div class="layui-tab-content fullh2 overh">
            <div class="layui-tab-item layui-show">
              <table id="LAY-index-schoolInventory"></table>
            </div>
            <!--<div class="layui-tab-item">
              <table id="LAY-index-topCard"></table>
            </div>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
//加载 controller 目录下的对应模块
/*

  小贴士：
    这里 console 模块对应 的 console.js 并不会重复加载，
    然而该页面的视图则是重新插入到容器，那如何保证能重新来控制视图？有两种方式：
      1): 借助 layui.factory 方法获取 console 模块的工厂（回调函数）给 layui.use
      2): 直接在 layui.use 方法的回调中书写业务代码，即:
          layui.use('console', function(){ 
            //同 console.js 中的 layui.define 回调中的代码 
          });
          
  这里我们采用的是方式1。其它很多视图中采用的其实都是方式2，因为更简单些，也减少了一个请求数。
  
*/
layui.use('console', layui.factory('console'));
</script>

