/*临时存放定义tree的skin*/
.layui-tree-skin-shihuang i{color: #EDCA50!important;}
.layui-tree-skin-green i{color: #009688!important;}

/*treeSelect扩展样式*/
.layui-form-select .layui-tree {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}
.layui-form-selected .layui-tree {
    display: block;
}

/*颜色*/
.ccc{color: #ccc}
.e6e6e6{color: #ccc}
.lgray{color: #cacaca}
.red{color: #EB0000}

/*通用类*/
.required{color: red;margin-right: 4px;vertical-align: -3px}
.pointer{cursor: pointer}
.circle{border-radius: 100%}
.center{position: absolute;left: 50%;top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.h-center{position: absolute;left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}
.v-center{position: absolute;top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);}
.pr{position: relative}
.pa{position: absolute}
.pf{position: fixed}

/*字体*/
.f12{font-size: 12px}
.f14{font-size: 14px}

/*布局*/
.tc{text-align: center}
.tl{text-align: left}
.tr{text-align: right}
.tj{text-align: justify}
.fl{float: left}
.fr{float: right}
.overh{overflow: hidden}
.lh150{line-height: 150%}
.lh200{line-height: 200%}

/*边距*/
.mb0{margin-bottom: 0!important;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.ml0{margin-left: 0!important;}
.ml15{margin-left: 15px}
.mt5{margin-top: 5px}
.mt7{margin-top: 7px}
.mt10{margin-top: 10px}
.mr10{margin-right: 10px!important;}
.mt20{margin-top: 20px}
.mt50{margin-top: 50px}
.pt50{padding-top: 50px}
.pb10{padding-bottom: 10px}
.p20{padding: 20px}
/*高度*/
.h{height: 100%}
.h30{height: 30px}
.inh{height: inherit}
/*宽度*/
.w{width: 100%}
/*边框*/
.b-e6{border: 1px solid #e6e6e6}