/*临时存放定义tree的skin*/
.layui-tree-skin-shihuang i{color: #EDCA50!important;}
.layui-tree-skin-green i{color: #009688!important;}

/*treeSelect扩展样式*/
.layui-form-select .layui-tree {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    max-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}
.layui-form-selected .layui-tree {
    display: block;
}

/*颜色*/
.ccc{color: #ccc}
.lgray{color: #cacaca}

/*布局*/
.tc{text-align: center}
.tl{text-align: left}
.tr{text-align: right}
.tj{text-align: justify}
.fl{float: left}
.fr{float: right}
.overh{overflow: hidden}
/*边距*/
.mb0{margin-bottom: 0!important;}
.mb5{margin-bottom: 5px;}
.ml0{margin-left: 0!important;}
.mt5{margin-top: 5px}
.mt10{margin-top: 10px}
.mr10{margin-right: 10px}
.mt20{margin-top: 20px}
.mt50{margin-top: 50px}
.pt50{padding-top: 50px}
.pb10{padding-bottom: 10px}
/*高度*/
.h30{height: 30px}
.inh{height: inherit}