<title>用户分类管理</title>
<style>
  .layui-badge {
    margin-right: 5px
  }
</style>

<form class="layui-form layui-form-pane" lay-filter="type-form">
  <!--名称-->
  <div class="layui-form-item">
    <label class="layui-form-label">分类名称</label>
    <div class="layui-input-block">
      <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入用户分类名称"
             class="layui-input">
      <button id="toggleModeBtn" data-id="0" type="button" class="layui-btn layui-btn-xs layui-layout-right"
              style="top: 8px;right: 10px">切换至编辑模式
      </button>
    </div>
  </div>
  <!--修改名称-->
  <div class="layui-form-item edit-name-item layui-hide">
    <label class="layui-form-label">修改名称</label>
    <div class="layui-input-block">
      <input type="text" name="editname" lay-verify="editTitle" autocomplete="off" placeholder="如果不需要重新给当前分类命名，可不填此项"
             class="layui-input">
    </div>
  </div>
  <!--用户-->
  <div class="layui-form-item">
    <select name="users" lay-verify="" xm-select="xmselect" xm-select-type="1" xm-select-skin="" xm-select-search>
    </select>
  </div>
  <!--新增模式的提交-->
  <div class="layui-form-item add-smt-item">
    <button id="smtBtn" type="button" class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="type-smt">确认新增
    </button>
  </div>
  <!--编辑模式下的删除和修改提交-->
  <div class="layui-form-item edit-smt-item layui-hide">
    <button data-id="" id="delBtn" style="width: 48%;float: left;" type="button" disabled
            class="layui-btn layui-btn-danger layui-btn-disabled layui-btn-fluid">删除分类
    </button>
    <button data-id="" style="width: 48%;float: right;" type="button" class="layui-btn layui-btn-fluid" lay-submit=""
            lay-filter="type-smt">确认保存
    </button>
  </div>
</form>

<!--分类数据展示-->
<div class="layui-collapse" lay-accordion="" id="typeCollapse"></div>

<!--分类数据模板-->
<div class="layui-colla-item layui-hide" data-type="template">
  <h2 class="layui-colla-title">
    <span></span>
    <div class="fr ccc"><span class=""></span>&nbsp;个用户</div>
  </h2>
  <div class="layui-colla-content">
    <!--这还是需要把layui-hide加上，用于克隆后标识为用户模板，和其他用户badge的区别就在于多了个layui-hide类-->
    <span class="layui-badge layui-bg-black layui-hide"></span>
  </div>
</div>

<!--隐藏的表单结构模板，用于切换页面模式-->
<div id="iptTpl" class="layui-hide">
  <!--编辑模式下的选择分类select-->
  <select name="type" lay-filter="type1" class="" lay-verify="typeselect">
    <option value="">请选择用户分类</option>
  </select>
  <!--新增模式下的input输入分类名称input-->
  <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入用户分类名称"
         class="layui-input">
</div>

<script>
  layui.use(['admin', 'form', 'formSelects'], function () {
    var $ = layui.$
      , admin = layui.admin
      , element = layui.element
      , layer = layui.layer
      , formSelects = layui.formSelects
      , form = layui.form;

    // 加载后执行请求渲染用户分类详情信息
    $.ajax({
      type: 'post',
      url: admin.baseUrl + '/userType',
      data: '',
      dataType: 'json',
      beforeSend: function () {
        $('#typeCollapse').empty();
        this.typesLoading = admin.loading();
      },
      complete: function () {
        layer.close(this.typesLoading);
      },
      success: function (result) {
        if (result.code == 0) {
          var data = result.data;
          for (var i = 0; i < data.length; i++) {
            generateTypeItem(data[i].name, data[i].value, data[i].users.length, data[i].users)
          };
          // 创建符合xmselect格式的数据并初始化xmselect
          setUserSelectOptions()
        }
      },
      error: function (error) {

      },
    });

    // 根据页面中展示的分类信息，设置选择用户的select的options数据
    function setUserSelectOptions() {
      var $typeCollapse = $('#typeCollapse');
      var dataArr = [];
      for (var i = 0; i < $typeCollapse.children().length; i++) {
        // 创建一个类别的对象
        var typeObj = {};
        // 设置类对象的name
        typeObj.name = $typeCollapse.children().eq(i).find('.layui-colla-title').children('span').text();
        var typeObjArr = [];
        var $typeUsersContent = $typeCollapse.children().eq(i).find('.layui-colla-content');
        for (var j = 0; j < $typeUsersContent.children('.layui-badge').length; j++) {
          var userObj = {}
          userObj.name = $typeUsersContent.children('.layui-badge').eq(j).text();
          userObj.val = $typeUsersContent.children('.layui-badge').eq(j).attr('id');
          typeObjArr.push(userObj);
        };
        // 设置类对象的包含项
        typeObj.arr = typeObjArr;
        // 把以上处理好的单个类数据添加到dataArr数组中
        dataArr.push(typeObj);
      }
      // 表单选择组件
      formSelects.render({
        name: 'xmselect'
        , on: function (data, arr) {
          (arr.length && $('#smtBtn').parent().is(":visible")) ? $('#smtBtn').html('已选' + arr.length + '个用户，' + '确认新增') : $('#smtBtn').html('确认新增');
        }
        , data: {
          arr: dataArr
        }
        //, init: formSelects.value('xmselect','val')
      })
      //formSelects.value('select');			//获取选中的值
      //formSelects.value('select', 'val');		//获取选中的val数组
      //formSelects.value('select', 'name');		//获取选中的name数组
      //formSelects.value('select', [1, 3]);	//动态赋值
    }

    // 根据页面中展示的分类信息，设置选择分类的select的options数据，而不是请求后台获取（个人认为前端已经有这些数据了，而且是后台返回的最新的，就没必要再多一次请求）
    function setTypeSelectOptions(selectJqObj) {
      selectJqObj.children('option:not(:first)').remove();
      var $typeCollapse = $('#typeCollapse');
      for (var i = 0; i < $typeCollapse.children().length; i++) {
        var optionVal = $typeCollapse.children().eq(i).attr('id');
        var optionTxt = $typeCollapse.children().eq(i)
          .find('.layui-colla-title').children('span').text();
        var $newOption = $('<option/>').val(optionVal).text(optionTxt);
        // 克隆的select循环添加option
        selectJqObj.append($newOption);
      }
    }

    // 切换页面显示模式
    // 如果是编辑模式，则获取页面中已存在的类型折叠面板数据，把折叠面板中每个分类的id值赋给select的option的value值，把名称赋给option的文本值
    function togglePageState() {
      var $toggleModeBtn = $('#toggleModeBtn');
      var pageModeId = $toggleModeBtn.attr('data-id');
      $toggleModeBtn.siblings().remove();
      if (pageModeId == 0) {
        // 切换至编辑模式
        $toggleModeBtn.attr('data-id', 1);
        var $newSelect = $('#iptTpl').children('select').clone(true).removeClass('layui-hide');
        // 根据页面中现有的分类信息给克隆出来的select设置option数据
        setTypeSelectOptions($newSelect);
        $newSelect.insertBefore($toggleModeBtn);
        // 切换显示提交表单的item并显示给用户重命名的input
        $('.add-smt-item').addClass('layui-hide').siblings('.edit-smt-item').removeClass('layui-hide');
        $('.edit-name-item').removeClass('layui-hide');
        form.render();
        layer.msg('已切换至编辑模式', {icon: 1});
        $toggleModeBtn.text('切换至新增模式');
      } else {
        // 切换至新增模式(①设置按钮id为0；②克隆input插入到按钮之前；③清空xmselect选中的用户；④)
        $toggleModeBtn.attr('data-id', 0);
        $('#iptTpl').children('input').clone(true).removeClass('layui-hide').insertBefore($toggleModeBtn);
        formSelects.value('xmselect', []);
        // 切换显示提交表单的item并隐藏给用户重命名的input
        $('.add-smt-item').removeClass('layui-hide').siblings('.edit-smt-item').addClass('layui-hide');
        $('.edit-name-item').addClass('layui-hide');
        form.render();
        layer.msg('已切换至新增模式', {icon: 1});
        $toggleModeBtn.text('切换至编辑模式');
      }
    }

    // 重置表单
    function formReset() {
      // 清空所有表单值
      $(':input').val('');
      // 清空已选用户
      formSelects.value('xmselect', []);
      // 重置删除按钮即保存提交按钮状态
      $('#delBtn').attr('data-id', '').prop('disabled', true).addClass('layui-btn-disabled').next().attr('data-id', '');
      // 重新渲染form表单
      form.render();
      // 设置新增模式下的提交按钮为下面文字（因为新增模式下用户选择了用户会动态改变该按钮内文字，现在需要重置回来）
      $('#smtBtn').html('确认新增');
    }

    // 生成单个类型（ 根据传入的分类名称，分类的id值，分类所拥有的用户个数，分类所拥有的用户对象数组{id:'',name''} 而动态创建折叠面板）
    function generateTypeItem(name, id, usersNum, users) {
      var $newCollapseItem = $('[data-type=template]').eq(0).clone().removeClass('layui-hide').removeAttr('data-type');
      $newCollapseItem.attr('id', id).find('.layui-colla-title').children('span').html(name).siblings('div').children('span').html(usersNum);
      var $newCollapseItemContent = $newCollapseItem.find('.layui-colla-content').eq(0);
      if (usersNum) {
        for (var i = 0; i < usersNum; i++) {
          // 如果其他地方已有此id的用户，就要先通过此id找到原来分类然后修改到显示的用户数,然后再把它移除掉，然后再创建新增到别处
          if($('#'+users[i].id).length){
            var $oldShowUsersContainer = $('#'+users[i].id).parent();
            var $oldShowUsersNumSpan = $oldShowUsersContainer.siblings('.layui-colla-title').children('div').find('span');
            var oldUsersNum = $oldShowUsersNumSpan.text();
            $oldShowUsersNumSpan.text(oldUsersNum-1);
            // 再次判断原来的分类里是不是已经没有角色了，如果没有了，则显示个无数据状态
            if($oldShowUsersNumSpan.text() == 0){
              $oldShowUsersContainer.html('<div class="ccc tc">此分类暂无数据</div>');
            };
            $('#'+users[i].id).remove();
          };
          var $newUserItem = $newCollapseItemContent.find('.layui-badge.layui-hide').clone().removeClass('layui-hide').html(users[i].name).attr('id', users[i].id);
          $newCollapseItemContent.append($newUserItem);
        }
        // 在这里手动的把每个分类里的用户badge模板删除掉
        $newCollapseItemContent.find('.layui-badge.layui-hide').remove();
      } else {
        $newCollapseItem.find('.layui-colla-content').html('<div class="ccc tc">此分类暂无数据</div>');
      }
      $newCollapseItem.appendTo($('#typeCollapse'));
      // 要在上述插入dom结构之后--展开新增的分类，收缩其他分类
      $newCollapseItemContent.addClass('layui-show').closest('.layui-colla-item').siblings().find('.layui-colla-content').removeClass('layui-show');
      // todo:把折叠面板的重置放在此函数内是否会影响性能，有待进一步验证
      element.render('collapse');
    }

    // 修改现目前已存在的分类的用户信息
    function editTypeItem(id, name, usersArr) {
      var $typeItem = $('#' + id);
      var $typeItemTitle = $typeItem.find('.layui-colla-title').children('span');
      var $typeItemContent = $typeItem.find('.layui-colla-content');
      name.length ? $typeItemTitle.text(name) : '';
      $typeItemTitle.siblings().eq(0).children('span').text(usersArr.length);
      $typeItemContent.empty();
      if (usersArr.length) {
        for (var i = 0; i < usersArr.length; i++) {
          var $newBadge = $('[data-type="template"]').find('.layui-badge').clone(true).removeClass('layui-hide');
          // 如果其他地方已有此id的用户，就要先通过此id找到原来分类然后修改到显示的用户数,然后再把它移除掉，然后再创建新增到别处
          if($('#'+usersArr[i].id).length){
            var $oldShowUsersContainer = $('#'+usersArr[i].id).parent();
            var $oldShowUsersNumSpan = $oldShowUsersContainer.siblings('.layui-colla-title').children('div').find('span');
            var oldUsersNum = $oldShowUsersNumSpan.text();
            $oldShowUsersNumSpan.text(oldUsersNum-1);
            // 再次判断原来的分类里是不是已经没有角色了，如果没有了，则显示个无数据状态
            if($oldShowUsersNumSpan.text() == 0){
              $oldShowUsersContainer.html('<div class="ccc tc">此分类暂无数据</div>');
            };
            $('#'+usersArr[i].id).remove();
          };
          $newBadge.text(usersArr[i].name).attr('id', usersArr[i].id);
          $typeItemContent.append($newBadge);
        }
      } else {
        $typeItemContent.html('<div class="ccc tc">此分类暂无数据</div>');
      }
    }

    // 自定义验证规则
    form.verify({
      title: function (value) {
        if (value.length < 2) {
          return '名称不得少于2个字符';
        }
      },
      editTitle: function (value) {
        if (!value) {
          return '';
        } else if (value.length && value.length < 2) {
          return '分类名称不得少于2个字符';
        }
      },
      typeselect: function (value) {
        if (!value.length) {
          return '请先选择操作对象';
        }
      }
    });

    // 监听提交(根据lay-filter值来监听提交，便于保存操作和新增操作的提交公用一个方法)，但是需要判断是新增模式还是修改模式（根据点击按钮是否有data-id值来确定，有的话是编辑模式，无则是新增模式）
    form.on('submit(type-smt)', function (data) {
      // 获取点击提交的按钮的data-id值
      var currentOperateTypeId = $('#delBtn').next().attr('data-id');
      //获取选中的val数组
      var usersValueArr = formSelects.value('xmselect', 'val');
      var usersNameArr = formSelects.value('xmselect', 'name');
      var usersArr = [];
      for (var i = 0; i < usersValueArr.length; i++) {
        var obj = {};
        obj.id = usersValueArr[i];
        obj.name = usersNameArr[i];
        usersArr.push(obj);
      };
      data.field.users = usersArr;
      if (currentOperateTypeId.length) {
        // 编辑操作
        // todo:编辑分类前端传递该分类的id值以及现目前所划分的用户数据，后台获取该分类下被删除的用户，并纳入默认分类区域，此步待制作...
        $.ajax({
          type: 'post',
          url: admin.baseUrl + '/postSuccess',
          data: data.field,
          dataType: 'json',
          beforeSend: function () {
            this.loading = admin.loading();
          },
          complete: function () {
            layer.close(this.loading);
          },
          success: function (result) {
            // 修改现目前已存在的分类的用户信息
            editTypeItem(currentOperateTypeId, data.field.editname, usersArr);
            // 根据页面中现有的分类信息给克隆出来的select设置option数据
            setTypeSelectOptions($('form').find('select[name=type]'));
            // 重置下用户选择器xmselect
            setUserSelectOptions();
            layer.msg('编辑成功', {icon: 1});
            // 重置表单
            formReset();
          },
          error: function (error) {
            layer.msg('请求出错啦', {icon: 2});
          },
        });
      } else {
        // 新增操作
        $.ajax({
          type: 'post',
          url: admin.baseUrl + '/user',
          data: data.field,
          dataType: 'json',
          beforeSend: function () {
            this.loading = admin.loading();
          },
          complete: function () {
            layer.close(this.loading);
          },
          success: function (result) {
            if (result.code == 0) {
              // 生成分类信息
              generateTypeItem(data.field.name, result.id, usersArr.length, usersArr);
            }
            // 重置下用户选择器xmselect
            setUserSelectOptions();
            layer.msg('新增成功', {icon: 1});
            // 重置表单
            formReset();
          },
          error: function (error) {
            layer.msg('请求出错啦', {icon: 2});
          },
        });
        return false;
      }
    });

    // 监听select选择
    form.on('select(type1)', function (data) {
      var selectedTypeItem = $('#' + data.value);
      var selectedTypeItemUsers = selectedTypeItem.find('.layui-colla-content').find('.layui-badge[id]');
      var usersValArr = [];
      // 此处把所选分类的value（即折叠面板对应分类的id）值赋给删除按钮及提交按钮，便于删除操作及提交修改操作
      $('#delBtn').attr('data-id', data.value).prop('disabled', false).removeClass('layui-btn-disabled')
        .next().attr('data-id', data.value);
      // 循环得到已选分类栏目下的所有用户的id值组成的数组，以便联动设置xmselect的选中状态
      for (var i = 0; i < selectedTypeItemUsers.length; i++) {
        usersValArr.push(selectedTypeItemUsers[i].id);
      };
      formSelects.value('xmselect', usersValArr);
      // 下面的只是测试假装赋值1，3选中状态
      // layer.msg('这里每次显示选中的用户只有第1个和第3个，是测试效果。实际开发中因为用户数据也是动态获取的，每个用户都对应一个id值，只要我传入该分类下的所有用户的id组成的数组（用户的id值我已经设置在了每个用户badge的id上），选择用户的select就会自动勾选该分类下的所有用户，从而实现联动效果', {
      //   time: 10000 //10秒关闭（如果不配置，默认是3秒）
      // })
      // formSelects.value('xmselect', [1, 3]);
    });

    // 切换页面模式
    $('form').on('click', '#toggleModeBtn', function () {
      togglePageState();
    });

    // 删除分类事件（首先获取已选分类id值，然后判断已选分类是否是系统默认分类，是的话不允许继续删除操作，不是的话友情提示下是否确认删除，以及删除后的操作提示，用户依然确认删除的话就执行ajax请求提交删除项）
    $('form').on('click', '#delBtn', function () {
      var that = this;
      var selectedTypeId = $(that).attr('data-id');
      // todo:实际开发中此默认分类id需要替换下面的0，以实现用户无法删除默认的分类
      // todo:删除分类前端传递该分类的id值给后台，后台获取该分类下的所有用户，并纳入默认分类区域，此步待制作...
      if (selectedTypeId == 0) {
        layer.msg('系统默认分类无法删除', {icon: 2});
      } else {
        var confirmLayerIdx = admin.popup({
          content: '是否确认删除已选分类？删除该分类后，该分类原有用户将自动纳入系统默认分类中，您可再次创建分类并重新编辑添加。'
          , btn: ['确认', '取消']
          , skin: 'layui-layer-admin'
          , btnAlign: 'c'
          , yes: function (index, layero) {
            layer.close(confirmLayerIdx);
            $.ajax({
              type: 'post',
              url: admin.baseUrl + '/postSuccess',
              data: selectedTypeId,
              dataType: 'json',
              beforeSend: function () {
                this.layerIdx = admin.loading('正在请求删除，请耐心等待...')
              },
              complete: function () {
                layer.close(this.layerIdx);
              },
              success: function (result) {
                // 前端删除对应分类的折叠面板项，清空表单并重置折叠面板组件
                $('#' + selectedTypeId).remove();
                // 根据页面中现有的分类信息给克隆出来的分类的select设置option数据
                setTypeSelectOptions($('form').find('select[name=type]'));
                // 重置下用户选择器xmselect
                setUserSelectOptions();
                // 重置
                formReset();
                element.render('collapse');
              },
              error: function (error) {
                layer.msg('请求错误，请检查是否联网', {icon: 2})
              }
            });
          }
          , btn2: function (index, layero) {
          }
          , cancel: function () {
          }
        });
      }
    });

    // 初始化分类的折叠面板
    element.render('collapse');

  });
</script>