<title>轮播图片管理</title>
<style>
  .box {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #e2e2e2
  }

  .box .box-img {
    position: relative;
    z-index: 1;
    width: 100%;
    cursor: pointer;
  }

  .box .box-title {
  }

  .box .box-desc {}

  .box .box-operate {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: -70px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .box .box-operate-item {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    margin: auto;
    cursor: pointer
  }

  .box .box-operate-item:hover {
    opacity: 0.7
  }

  .box.disabled:before {
    content: "\f00d";
    position: absolute;
    opacity: 0.08;
    z-index: 0;
    color: red;
    bottom: -18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: FontAwesome !important;
    font-size: 140px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div class="layui-card layadmin-header">
  <!--操作按钮组-->
  <div class="layui-btn-group col-btn-group ml15">
    <button data-event="add" class="layui-btn layui-btn-sm">
      <i class="layui-icon">&#xe654;</i>新增
    </button>
    <button data-event="del" class="layui-btn layui-btn-danger layui-btn-sm">
      <i class="layui-icon">&#xe640;</i>批量删除
    </button>
  </div>
  <!--搜索查询-->
  <div class="test-table-reload-btn layui-layout-right" style="right: 15px">
    标题搜索：
    <div class="layui-inline">
      <input class="layui-input h30" style="width: 350px" name="id" id="searchInput" autocomplete="off">
      <span class="layui-icon layui-icon-close-fill layui-hide pointer"
            style="position: absolute;right:0;top: -8px;font-size: 20px;padding: 0 10px;"></span>
    </div>
    <button class="layui-btn layui-btn-sm" data-event="search">搜索</button>
  </div>
</div>
<div class="layui-fluid layadmin-maillist-fluid">
  <div id="list">
    <!--无数据状态-->
    <div class="empty tc center" style="letter-spacing: 2px;position: fixed">
      <img src="../src/img/none.png" alt="">
      <div class="mt20 ccc">暂无数据或网络延迟，可尝试重新加载</div>
    </div>
  </div>
</div>
<!--隐藏模板-->
<div id="template" class="layui-hide">
  <div class="box">
    <div class="lh150 p15">
      <h3 class="box-title layui-elip pb10" style="border-bottom: 1px solid #e2e2e2;margin-left: -15px;margin-right: -15px">
        <strong class="p1r15"></strong>
      </h3>
      <div class="mt10">
        <i class="layui-icon layui-icon-link red mr10"></i>
        <a class="box-link" href=""></a>
      </div>
      <p class="box-desc mt10"></p>
    </div>
    <div class="tc">
      <img class="box-img" src="https://img.zcool.cn/community/03103b858498bf0a8012060c81402df.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
    </div>
    <!--隐藏操作区域-->
   <div class="box-operate" data-id="" data-lockshow=''>
      <table style="height: 100%;width:100%;">
        <tr>
          <td>
            <div data-event="edit" class="layui-icon layui-icon-edit layui-bg-green box-operate-item"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div data-event="del" class="layui-icon layui-icon-delete layui-bg-red box-operate-item"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div data-event="check" class="layui-icon layui-icon-ok layui-bg-gray box-operate-item"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script>
  layui.use(['admin', 'view', 'macy', 'form'], function () {
    var $ = layui.$
      , admin = layui.admin
      , view = layui.view
      , macy = layui.macy
      , form = layui.form;
    var $template = $('#template'),
      $list = $('#list'),
      $searchIpt = $('#searchInput')
      ,macyInst;

    // 获取选中数据
    function getCheckedDatas() {
      var $boxes = $list.find('.box'),
        $operateCheck = $boxes.find('.layui-icon-ok'),
        $operateChecked = $operateCheck.closest('.layui-bg-blue');
      var ids = [];
      if ($operateChecked.length) {
        for (var i = 0; i < $operateChecked.length; i++) {
          ids.push($operateChecked.eq(i).closest('.box-operate').attr('data-id'))
        }
      }
      ;
      return {length: $operateChecked.length, ids: ids};
    }

    // 生成显示数据项
    function generateItems(data) {
      $list.empty();
      for (var i = 0; i < data.length; i++) {
        var $newTemplate = $template.clone().removeClass('layui-hide');
        data[i]['disabled'] ? $newTemplate.children('.box').addClass('disabled') : null;
        $newTemplate.children('.box').attr('data-id', data[i].id).attr('data-sort', data[i].sort)
          .find('.box-title strong').html(data[i].name).end()
          .find('.box-img').prop('src', data[i].img).end()
          .find('.box-operate').attr('data-id', data[i].id);
        // 判断是否存在链接
        if(data[i].link) {
          $newTemplate.children('.box').find('.box-link').prop('href',data[i].link).html(data[i].link);
        }else{
          $newTemplate.children('.box').find('.box-link').parent().remove()
        };
        // 判断是否存在描述文本
        if(data[i].desc) {
          $newTemplate.children('.box').find('.box-desc').html(data[i].desc)
        }else{
          $newTemplate.children('.box').find('.box-desc').remove()
        };
        // 如果既无链接地址又无描述信息
        if(!data[i].link && !data[i].desc){
          $newTemplate.children('.box').find('.box-img').css('margin-top','-15px');
        }
        $list.append($newTemplate)
      };
    }

    // 绘制数据列表
    function drawList(data) {
      $.ajax({
        type: 'post',
        url: admin.baseUrl + "/casesDatas",
        data: data || '',
        dataType: 'json',
        beforeSend: function (xhr, options) {
          this.loadingIdx = admin.loading();
        },
        complete: function (xhr, ts) {
          layer.close(this.loadingIdx);
        },
        success: function (result) {
          if(result.data.length){
            // 生成数据项
            generateItems(result.data);
            // 生成瀑布流布局
            macyInst = new macy({
              // 配置应用插件外层容器，其直接子元素将作为排序项目并应用目标容器高度
              container: '#list',
              // 将其设置为false将优先均衡每个列的高度，直到项目本身的顺序
              trueOrder: false,
              // 如果设置为true，则Macy会在运行之前等待页面上的所有图像加载，默认设置为false，每次加载图像时都会运行
              waitForImages: false,
              // 如果您希望使用不同的图像加载库，请将其设置为true
              useOwnImageLoader: false,
              //
              debug: true,
              // 默认false,配置true后代表移动优先，概念如同前端响应式布局，未设置响应列的屏幕宽度范围内，将默认一行仅显示一列，设置了具体响应列数的以设置为准(breakAt设置)
              mobileFirst: true,
              // 定义一排默认显示数量(配合breakAt可实现响应式布局)
              columns: 1,
              // 水平垂直间隙
              margin: {
                x: 20,
                y: 20
              },
              breakAt: {
                1200: 3,
                940: 2,
                520: 1,
                400: 1
              }
            });
            // 初始化插图查看器
            admin.viewFile('', 'list', 'galley', 'src', true, true);
          }
        },
        error: function () {
          layer.msg('请求失败！',{icon:2})
        }
      });
    }

    drawList('');

    // 全局事件对象
    var globalEventsObj = {
      del: function () {
        var that = this,
          data = getCheckedDatas();
        if (data.length) {
          var confirmLayerIdx = admin.popup({
            content: '是否确认删除所选' + data.length + '条数据？'
            , btn: ['确认', '取消']
            , btnAlign: 'c'
            , yes: function (index, layero) {
              layer.close(confirmLayerIdx);
              $.ajax({
                type: 'post',
                url: admin.baseUrl + "/casesDatas",
                data: data.ids,
                dataType: 'json',
                beforeSend: function () {
                  this.loadingIdx = admin.loading();
                },
                complete: function () {
                  layer.close(this.loadingIdx);
                },
                success: function (result) {
                  layer.close(this.loadingIdx);
                  for (var i = 0; i < data.ids.length; i++) {
                    $list.find('[data-id=' + data.ids[i] + ']').parent().remove();
                  };
                  layer.msg('已成功删除', {icon: 1});
                  macyInst.reInit();
                },
                error: function (error) {
                  layer.msg('请求出错啦', {icon: 2, anim: 6});
                }
              });
            }
          })
        } else {
          layer.msg('请选择需要删除的数据项', {icon: 2, anim: 6});
        }
      }
      , add: function () {
        admin.popup.addLayer = admin.popup({
          "title": "编辑数据"
          , area: admin.screen() < 2 ? ['100%', '650px'] : ['820px', '650px']
          , id: 'add' //id唯一
          , maxmin: true
          , shadeClose: false
          , success: function () {
            view(this.id).render('template/cases/edit').done(function (html) {
              // 绑定撤销编辑事件
              var $undoBtn = $('button[lay-filter=form-undo]');
              $undoBtn.length ? $undoBtn.off('click').prop('type', 'reset').text('重置表单') : null;
            });
          }
        });
      }
      , search: function () {
        var val = $searchIpt.val();
        if (val) $searchIpt.attr('data-area', 1);
        drawList(val);
      }
    };

    // 每项事件对象
    var boxEventsObj = {
      edit: function () {
        var $that = $(this),
          $box = $that.closest('.box');
        admin.popup.editLayer = admin.popup({
          "title": "编辑数据"
          , area: admin.screen() < 2 ? ['100%', '650px'] : ['820px', '650px']
          , id: 'edit' //id唯一
          , maxmin: true
          , shadeClose: false
          , success: function () {
            view(this.id).render('template/cases/edit').done(function (html) {
              var dataObj = {
                id: $box.attr('data-id'),
                sort: $box.attr('data-sort'),
                img: $box.find('.box-img').prop('src'),
                name: $box.find('.box-title strong').html(),
                disabled: $box.hasClass('disabled') ? true : false,
                link: $box.find('.box-link').html(),
                desc: $box.find('.box-desc').html()
              };
              // 绑定撤销编辑事件
              var $undoBtn = $('button[lay-filter=form-undo]');
              if ($undoBtn.length) {
                $undoBtn.off('click.undo').prop('type', 'button').text('恢复操作').on('click.undo', function () {
                  // 表单赋值
                  form.val('editForm', dataObj);
                  $('#imgUploader').children('img').prop('src', dataObj.img);
                });
              }
              ;
              // 表单赋值
              form.val('editForm', dataObj);
              $('#imgUploader').children('img').prop('src', dataObj.img);
            });
          }
        });
      }
      , del: function () {
        var that = this,
          id = $(that).closest('.box-operate').attr('data-id');
        var confirmLayerIdx = admin.popup({
          content: '是否确认删除该数据？'
          , btn: ['确认', '取消']
          , btnAlign: 'c'
          , yes: function (index, layero) {
            layer.close(confirmLayerIdx);
            $.ajax({
              type: 'post',
              url: admin.baseUrl + "/casesDatas",
              data: id,
              dataType: 'json',
              beforeSend: function () {
                this.loadingIdx = admin.loading();
              },
              complete: function () {
                layer.close(this.loadingIdx);
              },
              success: function (result) {
                layer.close(this.loadingIdx);
                $(that).closest('.box').parent().remove();
                layer.msg('已成功删除', {icon: 1});
                macyInst.reInit();
              },
              error: function (error) {
                layer.msg('请求出错啦', {icon: 2, anim: 6});
              }
            });
          }
        });
      }
      , check: function () {
        if ($(this).hasClass('layui-bg-blue')) {
          $(this).removeClass('layui-bg-blue').addClass('layui-bg-gray');
          // 设置解锁定显示操作层
          $(this).closest('.box-operate').attr('data-lockshow', '');
        } else {
          $(this).removeClass('layui-bg-gray').addClass('layui-bg-blue');
          // 设置锁定显示操作层
          $(this).closest('.box-operate').attr('data-lockshow', 1);
        }
      }
    };

    // 每项数据项效果
    $('.layadmin-maillist-fluid').on('mouseover', '.box', function () {
      $(this).find('.box-operate').stop().animate({right: "0"}, 200);
    }).on('mouseout', '.box', function () {
      var $operate = $(this).find('.box-operate');
      $operate.attr('data-lockshow') != 1 ? $(this).find('.box-operate').stop().animate({right: "-70px"}, 200) : null;
    });

    // 每项数据的所有按钮组内按钮事件类型，如果存在对应定义，则执行
    $('.layadmin-maillist-fluid').on('click', '.box-operate .box-operate-item', function () {
      var type = $(this).attr('data-event');
      boxEventsObj[type] && boxEventsObj[type].call(this);
    });

    // 顶部操作栏下所有按钮组内按钮事件类型，如果存在对应定义，则执行
    $('.layadmin-header').on('click', '.layui-btn', function () {
      var type = $(this).attr('data-event');
      globalEventsObj[type] && globalEventsObj[type].call(this);
    });

    // 清空搜索值
    $searchIpt.next().on('click', function () {
      $searchIpt.val('');
      $(this).addClass('layui-hide');
      $searchIpt.attr('data-area') ? $searchIpt.attr('data-area', '') && drawList() : null;
    });

    // 监听搜索框keydown事件，动态显隐清除icon
    $searchIpt.on('keydown', function () {
      var $clearIcon = $(this).next(),
        searchVal = $searchIpt.val();
      searchVal ? ($clearIcon.is(':visible') ? null : $clearIcon.removeClass('layui-hide')) :
        ($clearIcon.is(':visible') ? $clearIcon.addClass('layui-hide') : null);
    });

    // 监听提交
    form.on('submit(form-smt)', function (data) {
      delete data.field.file;
      $.ajax({
        //contentType: 'application/json; charset=utf-8',
        type: 'post',
        url: admin.baseUrl + '/casesDatas',
        data: JSON.stringify(data.field),
        dataType: 'json',
        beforeSend: function () {
          this.loadingIdx = admin.loading();
        },
        complete: function () {
          layer.close(this.loadingIdx);
        },
        success: function (result) {
          if(result.code == 0){
            layer.msg('数据编辑成功', {icon:1})
          };
          if(admin.popup.editLayer) layer.close(admin.popup.editLayer);
          if(admin.popup.addLayer) layer.close(admin.popup.addLayer);
          // 重绘列表
          drawList();
        },
        error: function (error) {
          layer.msg('请求出错啦', {icon: 2,anim:6});
        },
      });
      return false;
    })
  });
</script>